{% block body %}
<div class = 'pt-4 pb-4'>
    <legend>Carregar Fatura (.pdf)</legend>
    <form method="POST" enctype = "multipart/form-data" >
        <div class="input-group mb-3">
            <input class="form-control" id="inputGroupFile02" style="visibility: visible;" type=file name=file>
            <input class="btn btn-warning" for="inputGroupFile02" type="submit" value="Carregar" name="load_btn">
        </div>
    </form>
</div>

    {% if fatura_dict != {} %}
        <form method="POST" class="mb-5">
            <legend>Salvar Análise</legend>
            <fieldset>
                    <div class = 'row'>
                            <div class="col">
                                    <div class="form-group">
                                            {{ form_salvar_fatura.nome.label(class = 'form-control-label') }}
                                            {{ form_salvar_fatura.nome(class = 'form-control') }}
                                    </div>
                            </div>
                            <div class="col">
                                    <div class="form-group">
                                            <div><br></div>
                                            {{ form_salvar_fatura.salvar_btn(class = 'btn btn-success') }}
                                    </div>
                            </div>
                    </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}