{% block body %}
<div class = 'border p-5 mt-5 mb-4'>
    <form method="POST">
        {{ form_tarifas_b.csrf_token }}
        <legend>Grupo B</legend>
        <fieldset>
            <h5 class="mt-2">Tarifa Convencional</h5>
                <div class="form-group">
                    {{ form_tarifas_b.convencional.label(class = 'form-control-label') }}

                    {% if form_tarifas_b.convencional.errors %}
                        {{ form_tarifas_b.convencional(class = 'form-control is-invalid') }}
                        <div class = 'invalid-feedback'>
                            {% for erro in form_tarifas_b.convencional.errors %}
                                {% if erro == 'This field is required.' %}
                                    {{ 'Insira um número. Use "." ao invés de ","' }}
                                {% else %}
                                    {{ 'O valor deve ser positivo' }}    
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form_tarifas_b.convencional(class = 'form-control') }}
                    {% endif %}

                </div>
            <h5 class="mt-4">Tarifa Branca</h5>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form_tarifas_b.branca_fp.label(class = 'form-control-label') }}

                            {% if form_tarifas_b.branca_fp.errors %}
                                {{ form_tarifas_b.branca_fp(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_tarifas_b.branca_fp.errors %}
                                        {% if erro == 'This field is required.' %}
                                            {{ 'Insira um número. Use "." ao invés de ","' }}
                                        {% else %}
                                            {{ 'O valor deve ser positivo' }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_tarifas_b.branca_fp(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ form_tarifas_b.branca_i.label(class = 'form-control-label') }}

                            {% if form_tarifas_b.branca_i.errors %}
                                {{ form_tarifas_b.branca_i(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_tarifas_b.branca_i.errors %}
                                        {% if erro == 'This field is required.' %}
                                            {{ 'Insira um número. Use "." ao invés de ","' }}
                                        {% else %}
                                            {{ 'O valor deve ser positivo' }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_tarifas_b.branca_i(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ form_tarifas_b.branca_p.label(class = 'form-control-label') }}

                            {% if form_tarifas_b.branca_p.errors %}
                                {{ form_tarifas_b.branca_p(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_tarifas_b.branca_p.errors %}
                                        {% if erro == 'This field is required.' %}
                                            {{ 'Insira um número. Use "." ao invés de ","' }}
                                        {% else %}
                                            {{ 'O valor deve ser positivo' }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_tarifas_b.branca_p(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
        </fieldset>
        {{ form_tarifas_b.registrar_b(class = 'btn btn-primary mt-5') }}
    </form>

    <div class = 'mt-4'>
        <div class = "row mt-4">
            <div class = "col">
                <legend>Carregar Tarifas (.xlsx)</legend>
            </div>
            <div class = "col-md-1 ms-auto">
                <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#carregartarifas" style="border-color:#212529">
                    <img src="https://img.icons8.com/?size=100&id=83244&format=png&color=000000" class="img" style="width:40px;height:40px;filter:invert(1)">
                </button>
            </div>
        </div>
        <form method="POST" enctype = "multipart/form-data" >
            <div class="input-group mb-3">
                <input class="form-control" id="inputGroupFile02" style="visibility: visible;" type=file name=file>
                <input class="btn btn-warning" for="inputGroupFile02" type="submit" value="Carregar" name="load_tb">
            </div>
        </form>
    </div>
{% endblock %}