{% block body %}
<div class = 'mt-5 mb-5 p-4'>
    <table class="table table-hover">
        <thead>
        <tr>
            {% for header in cargas_dict.keys() %}
                {% if header != "Dias de Uso" %}
                    <th scope="col">{{ header }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for i in range(0,length) %}
                <tr>
                {% if cargas_dict['Dias de Uso'][i] == 'Sábados' %}
                    {% for key in cargas_dict.keys() %}
                        {% if cargas_dict[key][i] == 'Remover'%}
                        <form method="POST"  method="post">
                            <td><button type="submit" class = 'btn btn-danger' name = 'remove_btn' value="{{ i }}">Remover</button></td>
                        </form>
                        {% elif key == 'Dias de Uso' %}
                            {{pass}}
                        {% else %}
                            <td>{{ cargas_dict[key][i] }}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}