{% extends 'base.html' %}


{% block body %}
    <div class = 'border p-5'>
        <form method="POST">
            {{ form_add_carga.csrf_token }}
            <legend>Adicionar Cargas</legend>
            <fieldset>
                <div class = "row mt-4">
                    <div class = "col">
                        <div class="form-group">
                            {{ form_add_carga.nome_equip.label(class = 'form-control-label') }}
                            {{ form_add_carga.nome_equip(class = 'form-control') }}
                        </div>
                    </div>
                    
                    <div class = "col">
                        <div class="form-group">
                            {{ form_add_carga.potencia.label(class = 'form-control-label') }}

                            {% if form_add_carga.potencia.errors %}
                                {{ form_add_carga.potencia(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_add_carga.fp.errors %}
                                        {% if erro == 'This field is required.' %}
                                            {{ 'Use "." ao invés de ","' }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_add_carga.potencia(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class = "row mt-4">
                    <div class = "col">
                        <div class="form-group">
                            {{ form_add_carga.fp.label(class = 'form-control-label') }}

                            {% if form_add_carga.fp.errors %}
                                {{ form_add_carga.fp(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_add_carga.fp.errors %}
                                        {% if erro == 'This field is required.' %}
                                            {{ 'Use "." ao invés de ","' }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_add_carga.fp(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>

                    <div class = "col">
                        <div class="form-group">
                            <p1><br></p1>
                            {{ form_add_carga.fp_tipo(class = 'form-control') }}
                        </div>
                    </div>
                </div>


                <div class = "row mt-4">
                    <div class = "col">
                        <div class = "row mt-4">
                            <div class="form-group">
                                {{ form_add_carga.qtd.label(class = 'form-control-label') }}
                                {{ form_add_carga.qtd(class = 'form-control') }}
                            </div>
                        </div>
                    </div>

                    <div class = "col">
                        <div class="form-group">
                            <div class = "row mt-4">
                                {{ form_add_carga.dia_sem.label(class = 'form-control-label') }}
                                {{ form_add_carga.dia_sem(class = 'form-control') }}
                            </div>
                        </div>
                    </div>

                    <div class = "col">
                        <div class="form-group">
                            Horário de funcionamento
                            <div class = "row align-items-center">
                                <div class = "col">Início</div>
                                <div class = "col col-sm-10">
                                    {% if form_add_carga.hr_inicio.errors %}
                                        {{ form_add_carga.hr_inicio(class = 'form-control is-invalid') }}
                                        <div class = 'invalid-feedback'>
                                            {% for erro in form_add_carga.hr_inicio.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_add_carga.hr_inicio(class = 'form-control') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "col">
                        <div class="form-group">
                            <p1><br></p1>
                            <div class = "row align-items-center">
                                <div class = "col ms-2">Fim</div>
                                <div class = "col col-sm-10">
                                    {% if form_add_carga.hr_fim.errors %}
                                        {{ form_add_carga.hr_fim(class = 'form-control is-invalid') }}
                                        <div class = 'invalid-feedback'>
                                            {% for erro in form_add_carga.hr_fim.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_add_carga.hr_fim(class = 'form-control') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            {{ form_add_carga.add_button(class = 'btn btn-primary mt-5') }}
        </form>
    </div>

    <div class = 'border p-5'>
        <form method="POST">
            {{ form_info.csrf_token }}
            <fieldset>
                <div class = "row mt-2">
                    <div class = "col">
                        <div class="form-group">
                            {{ form_info.ponta.label(class = 'form-control-label') }}
                            {{ form_info.ponta(class = 'form-control') }}
                        </div>
                    </div>

                    <div class = "col">
                        <div class="form-group">
                            {{ form_info.dias_u.label(class = 'form-control-label') }}

                            {% if form_info.dias_u.errors %}
                                {{ form_info.dias_u(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_info.dias_u.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_info.dias_u(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>
                    <div class = "col">
                        <div class="form-group">
                            {{ form_info.dias_s.label(class = 'form-control-label') }}

                            {% if form_info.dias_s.errors %}
                                {{ form_info.dias_s(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_info.dias_s.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_info.dias_s(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>
                    <div class = "col">
                        <div class="form-group">
                            {{ form_info.dias_d.label(class = 'form-control-label') }}

                            {% if form_info.dias_d.errors %}
                                {{ form_info.dias_d(class = 'form-control is-invalid') }}
                                <div class = 'invalid-feedback'>
                                    {% for erro in form_info.dias_d.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_info.dias_d(class = 'form-control') }}
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
            </fieldset>
            {{ form_info.registrar_info(class = 'btn btn-primary mt-5') }}
        </form>
    
    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="du-tab" data-bs-toggle="tab" data-bs-target="#du" type="button" role="tab" aria-controls="du" aria-selected="true">Dias Úteis</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="sab-tab" data-bs-toggle="tab" data-bs-target="#sab" type="button" role="tab" aria-controls="sab" aria-selected="false">Sábados</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="dom-tab" data-bs-toggle="tab" data-bs-target="#dom" type="button" role="tab" aria-controls="dom" aria-selected="false">Domingos</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="du" role="tabpanel" aria-labelledby="du-tab">{% include 'Elements/table_du.html' %}</div>
        <div class="tab-pane fade" id="sab" role="tabpanel" aria-labelledby="sab-tab">{% include 'Elements/table_sab.html' %}</div>
        <div class="tab-pane fade" id="dom" role="tabpanel" aria-labelledby="dom-tab">{% include 'Elements/table_dom.html' %}</div>
      </div>


    <div class = 'pt-2 pb-5'>
        <legend>Carregar Cargas (.xlsx)</legend>
        <form method="POST" enctype = "multipart/form-data" >
            <div class="input-group mb-3">
                <input class="form-control" id="inputGroupFile02" style="visibility: visible;" type=file name=file>
                <input class="btn btn-warning" for="inputGroupFile02" type="submit" value="Carregar" name="load_btn">
            </div>
        </form>
    </div>

    <form method="POST" class="mb-5">
        <legend>Salvar Análise</legend>
        <fieldset>
                <div class = 'row'>
                        <div class="col">
                                <div class="form-group">
                                        {{ form_salvar_cargas.nome.label(class = 'form-control-label') }}
                                        {{ form_salvar_cargas.nome(class = 'form-control') }}
                                </div>
                        </div>
                        <div class="col">
                                <div class="form-group">
                                        <div><br></div>
                                        {{ form_salvar_cargas.salvar_btn(class = 'btn btn-success') }}
                                </div>
                        </div>
                </div>
        </fieldset>
    </form>
{% endblock %}