{% extends 'base.html' %}


{% block body %}
<div class = "row mt-4">
    <div class = "col">
        <legend>Analisar Fatura</legend>
    </div>
    <div class = "col-md-1 ms-auto">
        <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#fatura" style="border-color:#212529">
            <img src="https://img.icons8.com/?size=100&id=83244&format=png&color=000000" class="img" style="width:40px;height:40px;filter:invert(1)">
        </button>
    </div>
</div>
{% if tarifas_dict != {'convencional': 0.0,'branca': [0.0,0.0,0.0],'verde':[0.0,0.0,0.0],'azul':[0.0,0.0,0.0,0.0], 'te': 0.0} and grupo == 'Grupo A'  %}

<form method="POST">
    {{ form_fatura.csrf_token }}
    <div class = "row mt-4">
        <div class = "col">
            <legend>Definir Demanda Contratada Atual</legend>
        </div>
        <div class = "col-md-1 ms-auto">
            <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#demc" style="border-color:#212529">
                <img src="https://img.icons8.com/?size=100&id=83244&format=png&color=000000" class="img" style="width:40px;height:40px;filter:invert(1)">
            </button>
        </div>
    </div>
    <fieldset>
        <div class = "row mt-4">
            <div class = "col">
                <div class="form-group">
                    {{ form_fatura.dem_c_fp.label(class = 'form-control-label') }}
                    {{ form_fatura.dem_c_fp(class = 'form-control') }}
                </div>
            </div>

            <div class = "col">
                <div class="form-group">
                    {{ form_fatura.dem_c_p.label(class = 'form-control-label') }}
                    {{ form_fatura.dem_c_p(class = 'form-control') }}
                </div>
            </div>
        </div>
    </fieldset>
    {{ form_fatura.reg(class = 'btn btn-primary mt-3') }}
</form>

{% if dem_c != 0 %}
    <form method="POST">
        <div class = "row mt-4">
            <div class = "col">
                <legend>Tipo de Preenchimento</legend>
            </div>
            <div class = "col-md-1 ms-auto">
                <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#tipofatura" style="border-color:#212529">
                    <img src="https://img.icons8.com/?size=100&id=83244&format=png&color=000000" class="img" style="width:40px;height:40px;filter:invert(1)">
                </button>
            </div>
        </div>
        <fieldset>
                <div class = 'row'>
                        <div class="col">
                                <div class="form-group">
                                        {{ form_selecionar_analise.tipo.label(class = 'form-control-label') }}
                                        {{ form_selecionar_analise.tipo(class = 'form-control') }}
                                </div>
                        </div>
                        <div class="col">
                                <div class="form-group">
                                        <div><br></div>
                                        {{ form_selecionar_analise.selecionar(class = 'btn btn-primary') }}
                                </div>
                        </div>
                </div>
        </fieldset>
    </form>
    {% if tipo_analise == 'Automático' %}
        {% include 'Elements/automatico.html' %}
    {% endif %}
    {% if tipo_analise == 'Manual' %}
        {% include 'Elements/manual.html' %}
    {% endif %}
{% endif %}


{% else %}
    <h4>Preencha o campo de tarifas praticadas para o Grupo A para realizar essa ação</h4>
{% endif %}


{% endblock %}