{% extends 'base.html' %}


{% block body %}
<form method="POST">
        <div class = "row mt-4">
                <div class = "col">
                    <legend>Definir Tarifas</legend>
                </div>
                <div class = "col-md-1 ms-auto">
                    <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#tarifas" style="border-color:#212529">
                        <img src="https://img.icons8.com/?size=100&id=83244&format=png&color=000000" class="img" style="width:40px;height:40px;filter:invert(1)">
                    </button>
                </div>
            </div>
        <fieldset>
                <div class = 'row'>
                        <div class="col">
                                <div class="form-group">
                                        {{ form_selecionar_grupo.grupo.label(class = 'form-control-label') }}
                                        {{ form_selecionar_grupo.grupo(class = 'form-control') }}
                                </div>
                        </div>
                        <div class="col">
                                <div class="form-group">
                                        <div><br></div>
                                        {{ form_selecionar_grupo.selecionar(class = 'btn btn-primary') }}
                                </div>
                        </div>
                </div>
        </fieldset>
</form>

{% if grupo == 'Grupo B' %}
        {% include 'Elements/grupob.html' %}
{% endif %}

{% if grupo == 'Grupo A' %}
        {% include 'Elements/grupoa.html' %}
{% endif %}

{% endblock %}