{% extends 'base.html' %}


{% block body %}
<form method="POST">
        <legend>Definir tarifas</legend>
        <fieldset>
                <div class = 'row'>
                        <div class="col">
                                <div class="form-group">
                                        {{ form_selecionar_grupo.grupo.label(class = 'form-control-label') }}
                                        {{ form_selecionar_grupo.grupo(class = 'form-control') }}
                                </div>
                        </div>
                        <div class="col">
                                <div class="form-group">
                                        <div><br></div>
                                        {{ form_selecionar_grupo.selecionar(class = 'btn btn-primary') }}
                                </div>
                        </div>
                </div>
        </fieldset>
</form>

{% if grupo == 'Grupo B' %}
        {% include 'Elements/grupob.html' %}
{% endif %}

{% if grupo == 'Grupo A' %}
        {% include 'Elements/grupoa.html' %}
{% endif %}

{% endblock %}